*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: TTLakes;
    src: url(../fonts/TTLakes-Medium.woff) format('woff');
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    font-family: TTLakes, sans-serif;
    background-color: #F2F2F2;;
}

h1 {
    text-transform: uppercase;
    color: #7E7E82;
    margin: 16px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.2px;
    font-weight: 400;
}

.block {
    display: none;
}

.container {
    display: none;
}


.brands {
    display: flex;
    margin: 0;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    width: 368px;
    overflow: hidden;
}

.brand {
    display: flex;
    justify-content: space-between;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    margin: 0;
    align-items: center;
    padding: 16px;
    width: 240px;
}

.brand a {
    height: 40px;
    width: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    display: flex;
}

.brand a::before {
    content: "";
    position: relative;
    height: 7.5px;
    width: 7.5px;
    border-top: 2px solid #FF3E79;
    border-left: 2px solid #FF3E79;
    transform: rotate(135deg);
    left: 12.5px;
    top: 12.5px;
}

.brand a:hover,
.brand a:focus {
    transform: scale(1.1);
}

.view {
    font-family: TTLakes, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 0;
    padding-left: 25px;
    margin-left: 32px;
    border: none;
    margin-top: 24px;
    cursor: pointer;
    display: none;
}

.view::before {
    content: "";
    position: relative;
    width: 5px;
    height: 5px;
    border-top: 2px solid aqua;
    border-left: 2px solid aqua;
    transform: rotate(-135deg);
    left: -25px;
    top: 5px;
}

.view::after {
    content: "";
    position: relative;
    width: 5px;
    height: 5px;
    border-top: 2px solid aqua;
    border-left: 2px solid aqua;
    transform: rotate(-135deg);
    left: -130px;
    top: 13px;
}

.close {
    font-family: TTLakes, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 0;
    padding-left: 25px;
    margin-left: 32px;
    border: none;
    margin-top: 24px;
    cursor: pointer;
}

.close::before {
    content: "";
    position: relative;
    width: 5px;
    height: 5px;
    border-top: 2px solid aqua;
    border-left: 2px solid aqua;
    transform: rotate(45deg);
    left: -25px;
    top: 5px;
}

.close::after {
    content: "";
    position: relative;
    width: 5px;
    height: 5px;
    border-top: 2px solid aqua;
    border-left: 2px solid aqua;
    transform: rotate(45deg);
    left: -86px;
    top: 13px;
}

.swiper-pagination {
    display: flex !important;
    top: 160px !important;
    left: 90px !important;
    height: 12px !important;
    width: 220px !important;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.h-160 {
    height: 160px;
}

.hide-button {
    display: none;
}


@media (min-device-width: 768px) {
    
    h1 {
        margin-left: 24px;
    }

    .view {
        display: flex;
    }

    .close {
        display: flex;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin-top: 24px;
        margin-left: 24px;
        width: 800px;
    }

    .container .brand:nth-of-type(3n+2) {
        margin-right: 24px;
        margin-left: 24px;
    }

    .swiper-pagination {
        display: none;
    }

    .swiper-container {
        display: none;
    }

    .brand {
        min-width: 240px;
        min-height: 72px;
        margin-bottom: 16px;
    }
}

@media (min-device-width: 1120px) {

    h1 {
        margin-left: 32px;
    }

    .container {
        margin-left: 32px;
        width: 1120px;
    }

    .container .brand:nth-of-type(3n+2) {
        margin-right: 0;
        margin-left: 0;
    }

    .container .brand:nth-of-type(4n+2) {
        margin-left: 32px;
    }

    .container .brand:nth-of-type(4n+3) {
        margin-right: 32px;
        margin-left: 32px;
    }

    .view {
        margin-left: 40px;
    }

    .close {
        margin-left: 40px;
    }
}

@media (max-device-width: 767px) {
    .view,
    .view::before,
    .view::after,
    .close,
    .close::after,
    .close::before {
        display: none;
    }
}
